.notification {
  padding: 1rem;
  margin: 10px;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  gap: 1rem;
}

.info {
  background-color: #3378ef;
}

.success {
  background-color: #068b11;
}

.warning {
  background-color: #f9af1bec;
}

.error {
  background-color: #e51111;
}

.closeBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.top-right {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.top-left {
  position: fixed;
  left: 1rem;
  top: 1rem;
}

.bottom-left {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
}

.bottom-right {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
